/* Import Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* Univarsal Style */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
:root{
    --heading: rgb(0 10 45);
    --para: #777;
    --para-tint: #e4e4e4;
    --white: #fff;
    --black: #212529;
    --helper: #8490ff;
    --helper-tint: #f3f4ff;
    --bg: rgb(233, 233, 246);
    --gradient: linear-gradient(0deg, rgb(132 144 255) 0%, rgb(98 189 252) 100%);
    --gradientSupport: -webkit-linear-gradient(0deg, rgb(132 144 255) 0%, rgb(98 189 252) 100%);
    --shadow: 0px 0px 20px 0px rgb(132 144 255 / 20%);
    --shadowSupport: 0px 20px 20px 0px rgb(132 144 255 /30%);
}
html{
    font-size: 62.5%;
}
h1,
h2,
h3,
h4{
    font-family: "Poppins", sans-serif;
}
h1{
    color: var(--heading);
    font-size: 6rem;
    font-weight: 600;
}
h3{
    font-size: 1.8rem;
    font-weight: 400;
}
p{
    color: var(--para);
    line-height: 1.6;
    font-size: 1.7rem;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
/* Navbar Style Start here... */

.header{
    padding: 0 4.8rem;
    height: 8rem;
    background-color: var(--bg);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 999;
    box-shadow: var(--shadow);
}
.header .brand-logo{
    height: 3rem;
}
.navbar-list{
    display: flex;
    gap: 4.8rem;
}
.navbar-link:link,
.navbar-link:visited{
    display: inline-block;
    text-decoration: none;
    font-size: 1.7rem;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--black);
    transition: color .3s linear;
}
.navbar-link:hover,
.navbar-link:active{
    color: var(--helper);
}
/* Reuseable code */
 .section{
    padding: 5rem;
 }
 .grid {
    display: grid;
    gap: 4.8rem;
 }
 .grid-tow-colum{
    grid-template-columns: repeat(2, 1fr);
 }
 .grid-four-colum{
    grid-template-columns: repeat(4, 1fr);
 }
 .grid-tree-colum{
    grid-template-columns: repeat(3, 1fr);
 }

.btn{
    background-color: var(--helper);
    padding: 1.5rem 3.2rem;
    border: none;
    color: var(--helper-tint);
    display: inline-block;
    margin-top: 1.8rem;
    font-size: 1.7rem;
    font-weight: 500;
    cursor: pointer;
    border-radius: .5rem;
    transition: all .3s ease;
    
}
.btn:hover, 
.btn:active{
    box-shadow: var(--shadowSupport);
}
.common-heading{
    font-size:4.5rem;
    font-weight: 600;
    margin-bottom: 5rem;
    text-transform: capitalize;
    position: relative;
}
.common-heading::before{
    content: "";
    position: absolute;
    top: 110%;
    left: 0;
    width: 1.5rem;
    height: 1.5rem;
    background-color: var(--helper);
    border-radius: 50%;
}
.common-heading::after{
    content: "";
    position: absolute;
    top: 119%;
    left: 1.5rem;
    min-width: 20rem;
    background-color: var(--helper);
    height: .3rem;
}

/* <!-- Header Section End... -->

<!-- Hero Section Start.... --> */
.section-hero{
    background-color: var(--bg);
}
.section-hero-data{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.container{
    max-width: 140rem;
    margin: 0 auto;
}
.hero-img{
    max-width: 80%;
    
}
.top-pera{
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--helper);
}
.hero-heading{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 6rem;
}
.hero-pera{
    max-width: 60rem;
}
.section-hero-img{
    display: flex;
    align-items: center;
    justify-content: end;
}
/* <!--  Hero Section End... -->

<!-- Bio Section Start.... --> */
.bio-img{
    display: flex;
    justify-content: center;
    align-items: center;
}
.bio-img img{
    width: 75%;
    box-shadow: -2rem -2rem 0 0 var(--helper);
    display: inline-block;
}
.bio-data-state{
    display: flex;
    flex-direction: column;
    padding: 2rem 0;
    gap: 4rem;
}
.bio-progress-bar{
    width: 90%;
    height: .8rem;
    background-color: var(--para-tint);
    border-radius: 10rem;
    position: relative;
    box-shadow: var(--shadow);
}
.bio-progress-bar::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
    height: inherit;
    background: var(--gradientSupport);
    border-radius: 10rem;
}
.bio-progress::before{
    width: 80%;
}
.bio-progress1::before{
    width: 99%;
}
.bio-progress2::before{
    width: 90%;
}
.bio-progress3::before{
    width: 85%;
}
.bio-progress4::before{
    width: 70%;
}
.bio-state{
    position: relative;
}

.bio-state span{
    position: absolute;
    top: 4rem;
    width: 3rem;
    height: 2rem;
    background-color: var(--helper);
    color: var(--helper-tint);
    text-align: center;
}
.pro-1{
    left: 70%;
}
.pro-2{
    left: 87%;
}
.pro-3{
    left: 79%;
}
.pro-4{
    left: 74%;
}
.pro-5{
    left: 61%;
}

.bio-state span::after{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border: .8rem solid var(--helper);
    border-color: transparent;
    border-bottom-color: var(--helper);
    left: .8rem;
    top: -1.3rem;
}


/* <!--  Bio Section End... -->

<!--  portfolio Section Start.... --> */

.secction-portfolio{
    background-color: var(--bg);
    transition: all .7s linear;
}
.secction-portfolio p{
    max-width: 60rem;
}
.p-btns{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
    margin: 5rem 0rem;
}
.protfolio-images{
    gap: 3rem;
    padding:0rem 10rem;
}
.protfolio-images img{
    width: 100%;
    border-radius: 7px;
    position: relative;
    overflow: hidden;
}
.img-overlay{
    position: relative;
    overflow: hidden;
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--gradientSupport);
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(100%);
    transition: all .3s linear;
    border-radius: 7px;
    opacity: 0;
}

.img-overlay:hover> .overlay{
    transform: translateY(0%);
    opacity: 0.7;
    cursor: pointer;

}
.img-overlay .common-heading{
    margin: 0;
    color: var(--white);
    text-decoration: none;
}
.p-btn-active{
     transform: translateY(-1rem);
}
.p-images-not-active{
    display: none;

}


/* <!-- Protfolio Section End... -->

<!-- Work Section Start.... --> */

.section-work-data{
    background: var(--gradient);
    text-align: center;
    transition: all 0.7s linear;
    color: var(--white);
}
.counter-numbers{
    font-size: 4rem;
    color: var(--white);
}
.section-work-data p{
    color: var(--white);
    text-transform: capitalize;
}
/* <!-- Work Section End... -->

<!--  Our Service Section Start.... --> */

.section-service{
    transition: all 0.7s linear;
}
.section-service p{
    max-width: 60rem;
}
.section-service .grid{
    margin-top: 8rem;
    row-gap: 8rem;
}
.service-box{
    text-align: center;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
    border-radius: 5px;
    padding: 6.4rem 3.4rem;
    transition: all .2s linear;
}
.service-box:hover ,.service-box:active{
    transform: translateY(-3rem);
}
.service-icon{
    width: 6rem;
    height: 6rem;
    background-color: rgba(144, 172, 209, 0.5);
    display: inline-block;
    border-radius: 75% 25% 76% 24% / 22% 84% 16% 78%;
    padding: 1rem 1.5rem;
    position: relative;
    columns: var(--heading);
    animation: watar-wave 3s linear infinite;
}
.service-icon::after{
    content: "";
    position: absolute;
    top: 0%;
    left: 0%;
    transform: translate(-50% -50%);
    width: 95%;
    height: 90%;
    border-radius:75% 25% 76% 24% / 22% 84% 16% 78%;
    border: 1px solid var(--black);
}
@keyframes watar-wave{
    0%{
       border-radius: 75% 25% 76% 24% / 22% 84% 16% 78%; 
    }
    50%{
        border-radius: 10% 75% 20% 84% / 60% 15% 16% 28%; 
    }
    100%{
        border-radius: 75% 25% 76% 24% / 22% 84% 16% 78%; 
    }
    
}
.service-content{
    padding:0rem 5rem;
}
.service-box h3{
    text-transform: capitalize;
    margin-top: 2.5rem;
    margin-bottom: 1.5rem;
}
/* <!-- our serviceSection End... -->

<!-- feedback  Section Start.... --> */
.swiper {
    width: 100%;
    height: 100%;
  }
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    /* background: #fff; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .swiper-slide {
    width: 80%;
  }

  .swiper-slide:nth-child(2n) {
    width: 60%;
  }

  .swiper-slide:nth-child(3n) {
    width: 40%;
  }
  .swiper-client-mdg{
    padding: 5rem 8rem;
    background-color: var(--white);
    border-radius: 1rem;
    text-align: left;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
    position: relative;
    margin: 0 5rem;
  }
  .swiper-client-mdg::before {
    content: "";
    height: 10rem;
    position: absolute;
    top: 100%;
    bottom: -10rem;
    left: 50%;
    transform:translateX(-50%) ;
    border:  5rem solid var(--white);
    border-color: transparent;
    border-top-color: var(--helper);
  }

  .swiper-client-mdg p::before{
    content: "\f10d";
    position: absolute;
    top: 0;
    left: 4rem;
    font-size: 5rem;
    color: var(--helper);
    font-family:"Font Awesome 6 Free";
    font-weight: 900;
    
  }
  .swiper-client-mdg p::after{
    content: "\f10e";
    position: absolute;
    font-size: 5rem;
    color: var(--helper);
    font-family:"Font Awesome 6 Free";
    font-weight: 900;
  }

  .swiper-slide img{
    max-width: 9rem ;
    height: 9rem;
    border-radius: 50%;
    border: 0.5rem solid var(--helper); 
    align-items: center;
  }

  .client-img{
    width: 10rem;
    padding: 1rem 0rem;
  }
  .swiper-client-data{
    align-items: center;
    margin-top: 1rem;
    gap: 0;
  }
  .section1{
    margin: 2rem 10rem;
  }